{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funko Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Funko Collector</h1>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/funkos">View All My Funkos</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div>Made for educational practice only | 2023 Funko Collector</div>
    </footer>
</body>
</html>