body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1>a{
    color: #00aaff;
    margin-right: 20px;
    text-decoration: none;
}

h2{
    margin: 20px 10px;
    font-style: italic;
}

h4{
    color: #00aaff;
    font-size: 14px;
    font-style: italic;
}

.how-to{
    color: #a6a6a6;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about h2{
    align-self: self-start;
}

.more-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funko-index,
.funko-detail{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 20px;
}

.funko-name{
    font-size: 20px;
}

.funko-img{
    background-color: #bae8ff;
}

.funko-link{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px 0;
}

.funko-link.details{
    padding: 30px;
}

.funko-bttn{
    width: 50%;
}

footer{
    background-color: #00aaff;
    color: #fff;
    text-align: center;
}