{% extends 'base.html' %}
{% block content %}
<h2>My {{funko.name}} Funko</h2>
<section class="funko-detail">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top funko-img" src="{{funko.image}}" />
        <div class="card-body">
            <h4 class="card-title">from the {{funko.collection}} Collection</h4>
            <h3 class="card-title">{{funko.name}}</h3>
            <h3 class="card-title">#{{funko.number}}</h3>
            <p class="card-text">{{funko.description}}</p>
            <a href="{{funko.link}}" target="_blank" class="btn btn-secondary funko-link details"><img
                    class="funko-bttn"
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Funko.svg/1280px-Funko.svg.png"></a>

            <div class="funko-actions">
                <a class="btn btn-primary" href="{% url 'funkos_update' funko.id %}">Edit</a>
                <a class="btn btn-primary" href="{% url 'funkos_delete' funko.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="buyers card" style="width: 18rem;">
        <div class="card-body">
            <form class="buyer-form" action="{% url 'add_buyer' funko.id %}" method="POST">
                {% csrf_token %}
                <!-- Render the inputs -->
                {{ buyer_form.as_p }}
                <input type="submit" class="btn btn-primary" value="Make an offer!">
            </form>
            <table class="'table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Buyer</th>
                        <th scope="col">Offer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for buyer in funko.buyer_set.all %}
                    <tr>
                        <td scope="row">{{buyer.name}}</td>
                        <td>{{buyer.offer}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if funko.interest %}
            <div class="card interest theres-interest">{{funko.name}} has some offers!</div>
            {% else %}
            <div class="card interest no-interest">No offers yet</div>
            {% endif %}
        </div>
    </div>
    <div class="admirers card" style="width: 18rem;">
        <div class="current-admirers">
            <h3>Current Admirers</h3>
            {% if funko.admirers.count %}
            {% for admirer in funko.admirers.all %}
            <div class="card">
                <div class="card-content admirer-card">
                    <span class="card-title admirer-name">
                        {{ admirer.name }}
                    </span>
                    <form action="{% url 'unassoc_admirer' funko.id admirer.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>No Admirers yet!</h5>
            {% endif %}
        </div>
        <div class="add-admirers">
            <h3>Potential Admirers</h3>
            {% if admirers.count %}
            {% for admirer in admirers.all %}
            <div class="card admirer-card">
                <div class="card-content">
                    <span class="card-title admirer-name">
                        {{ admirer.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_admirer' funko.id admirer.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>{{cat.name}} Already Has All Admirers</h5>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}